#heading {
    color: #34c0eb;
    font-size: 34px;
    width: 50%;
    font-family: 'Orbitron', sans-serif;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#content {
    width: 80%;
    color: #34c0eb;
    font-family: 'Courier Prime', monospace;
    font-size: 12px;
    margin-left: 10%;
}

.content_chunk {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 49%;
}

.centering_container {

}

#content h2 {
    font-size: 20px;
    color: #FF5733;
    font-family: 'Press Start 2P', cursive;
}

.equation {
    font-size: 14px;
    color: #BBB;
    padding-left: 5%;
}

.equation .title {
    font-size: 10px;
    font-style: italic;
    padding-top: 5px;
}

.accent {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}

.accent .key{
    font-size: 14px;
    color: #FF5733;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

ul {
    list-style: none;
}

li {
    margin-top: 10px;
    margin-left: 10px;
}

a {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #9D17F4;
    text-decoration: none;
}
a:hover {
    color: #F283D6; 
}

.visualization_chunk {
    display: inline-block;
    margin: auto;
    width: 50%;
}

canvas {
    display: block;
    margin: auto;
}

.content_line {
    display: flex;              /* establish flex container */
    flex-direction: row;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    padding-top: 10px;
    padding-bottom: 10px;
}